body {
  font-family: "Verdana";
  text-align: center;
}
canvas {
  border: 1px solid black;
}
button {
  min-width: 8vh;
  height: 8vh;
  text-align: center;
  font-size: 200%;
}
input {
  min-width: 15vw;
  height: 6vh;
  font-size: 150%;
}
table,td {
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: top;
}
td {
  width: 49vw;
  text-align: left;
  height: 70vh;
}
#log {
  font-family: "Courier";
}
#splitter {
  display: inline-block;
  font-size: 225%;
  width: 10px;
}
#specialControls {
  display: none;
}
#panelLink {
  display: block;
  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 125%;
}
#panel {
  display: none;
}
