body {
  text-align: center;
}
canvas {
  border: 1px solid black;
}
button {
  min-width: 8vh;
  height: 8vh;
  text-align: center;
  font-family: "Verdana";
  font-size: 200%;
}
#splitter {
  display: inline-block;
  font-size: 225%;
  width: 10px;
}
#specialControls {
  display: none;
}
